.viewCard {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 20px;
    color: rgb(52, 53, 52);
  }
  
  hr {
    border: 2px solid rgb(52, 53, 52);
    border-radius: 5px;
  }

  .profilePic {
    width: 250px;
    height: 250px;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }