.intro-2 {
    background: url("../assets/img/wallpaperflare.com_wallpaper.jpg")no-repeat center center;
    background-size: cover;
    padding: 10px !important;
    height: auto;
    min-height: 500px;
  }



