<!-- home page layout -->
<div style="margin: -35px -10px 10px -10px;">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="true" [allowSwipe]="true"
        style="height: 100px;">
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../../../assets/img/slide/2.png" alt="First slide"
                    style="object-fit: cover; height:300px">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <p style="font-size:500%;margin-top: 50px;">Wellcome to E-medic</p>
                <p>Best Drone Based Medicine Delivery System in Sri Lanka</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../../../assets/img/slide/1.jpg" alt="Second slide"
                    style="object-fit: cover; height:300px">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <p style="font-size:500%;margin-top: 50px;">are You a Doctor?</p>
                <p>We Like to Deliver Your Petients' Prescritions</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../../../assets/img/slide/pharmacy1.jpg" alt="Third slide"
                    style="object-fit: cover; height:300px">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <p style="font-size:400%;margin-top: 50px;">We are Happy to help you?</p>
                <p>Let us Make Your Life Easy :)</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>

<div class="viewCard">
    <div class="container-fluid" style="margin: auto;">
        <div class="row">
            <div class="col-md-4">
                <!-- Card prescription-->
                <mdb-card class="wow fadeInUp" data-wow-delay="0.6s">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/img/Doc.png"
                            alt="Prescription Management"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Upload the Prescripions</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text> E-medic provides a Platform to interconnect doctors, 
                            patients and drug store with the delivery method.  Doctors can easily manage their patients' 
                            prescriptions using the web application which is provided by the E-medic. This Application also 
                            can be used to Take an idea about patients Medical history. After Doctor Upload the Prescription.....
                            <br/>
                        </mdb-card-text>

                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-md-4">
                <!-- Card order-->
                <mdb-card class="wow fadeInUp" data-wow-delay="0.7s">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src = "../../../assets/img/order.png"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Patients Can Place Orders</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>Once Doctor upload the prescription Patient can order their medicine using the E-Medic Mobile Application. Once the patient place the Order, 
                            Our E-Medic Trained pharmacists will prepare the medicine packet 
                            According to the prescription. Then.....
                            <br/><br/><br/>
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
            <div class="col-md-4">
                <!-- Card delivery-->
                <mdb-card class="wow fadeInUp" data-wow-delay="0.8s">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/img/drone_home.png"
                            alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Diliver Medicine Using the DRONE! :o</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text> First, we will check the availability of the patient and then We will send the medicine 
                            packet Using a delivery drone. When we handing out the medicine packet, we Use Special Facial 
                            recognition system to make sure We delivered the package to the right person.
                            <br/><br/>
                        </mdb-card-text>

                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
        </div>
    </div>
    <br/>
</div>